html{
	background: url(../src/kevin-364843.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	font-family: Helvetica, Arial, sans-serif;
}
*{
	margin:0px;
	}
#slider {
	height:400px;
	width:650px;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#imagen {
	height:200px;
	width:350px;
	border: solid black 1px;
	margin-left: 25px;
	}
#imagenIzquierda {
	float: left;
	height:100px;
	width:125px;
	border: solid black 1px;
}
#imagenDerecha {
	float: right;
	height:100px;
	width:125px;
	border: solid black 1px;
}
.left_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:70px;
	width:70px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0.6;
	transition: all .2s ease-in-out 0s;
	}

.imagenCentral{
	height:400px;
	width:650px;
	margin-top: 50%;
}
.right {
	height:70px;
	width:70px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0.6;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:1;
	}
.right_hold:hover .right {
	opacity:1;
}
.left:hover .left1